@import '../index.css';

.social-media-column {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.icon {
    font-size: 40px;
}